<html>
    <head>
        <meta charset="UTF-8">
        <title>Añadir Devolución</title>
    </head>
    <body>
        <div>
            <button><a th:href="@{/pedidos}">Atras</a></button>
        </div>
        <div>
            <button><a>Inventario</a></button>
            <button><a >Compras</a></button>
            <button><a th:href="@{/pedidos}" >Pedidos</a></button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Añadir Devolución</h2>
        <form method="post" action="">
            <label for="producto">Producto:</label>
            <select id="selector" name="selector">
                <option th:each="v : ${productos}" th:value="${productos.ID}" th:text="${productos.Nombre}"></option>
            </select>

            <label for="cantidad">Cantidad</label>
            <input type="number" id="cantidad" name="cantidad" required><br>

            <label for="cliente">Cliente:</label>
            <label for="nombrecliente">Cliente</label>
            <button><a  th:href="@{/selectcliente}">Seleccionar Cliente</a></button>

            <input type="submit" value="Guardar">
        </form>

    </body>
</html>