<html>
    <head>
        <meta charset="UTF-8">
        <title>Añadir Devolución</title>
    </head>
    <body>
        <div>
            <button>Atras</button>
        </div>
        <div>
            <button>Inventario</button>
            <button>Compras</button>
            <button>Pedidos</button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Añadir Devolución</h2>
        <form method="post" action="">
            <label for="producto">Producto:</label>
            <select id="selector" name="selector">
                <option value="opcion1">Pantalon kjj</option>
                <option value="opcion2">Camisa black face</option>
                <option value="opcion3">Calcetines cool</option>
            </select>

            <label for="cantidad">Cantidad</label>
            <input type="number" id="cantidad" name="cantidad" required><br>

            <label for="cliente">Cliente:</label>
            <label for="nombrecliente">Cliente</label>
            <button>Seleccionar Cliente</button>
            
            <input type="submit" value="Guardar">
        </form>

    </body>
</html>