<html>
    <head th:include="~{Plantillas/plantillaHeader.html :: header}">
    </head>
    <body>
        <div>
            <button><a href="/pedidos">Atras</a></button>
        </div>
        <div th:include="Plantillas/plantillaHeader.html:: cuerp"></div>
        <h2>Añadir Pedido</h2>
        <form th:action="@{/guardarPedido}" method="post" th:object="${pedido}">
            <p>
            <label for="producto">Producto:</label>
            <select id="selector" name="selector">
                <option th:each="productos : ${productos}" th:value="${productos.id}" th:text="${productos.nombre}"></option>
            </select>
            </p>
            <p>
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="1000" required >
            </p>
            <p>
            <label for="direccion">Dirección de envio</label>
            <input type="text" id="direccion" name="direccion"><br>
            </p>
            <p>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" name="fecha" ><br><br>
            </p>
            <p>
            <label for="texto">Hora:</label><br>
            <input type="time" id="hora" name="hora" value="" ><br><br>
            </p>
            <p>
            <label for="cliente">Cliente:</label>
            <select name="cliente">
                <option th:each="cliente : ${cliente}" th:value="${cliente.DNI}" th:text="${cliente.nombre}"></option>
            </select>
            <button><a th:href="@{/pedidos/addclient}">Nuevo Cliente</a></button>
            </p>
            <p>
            <input type="hidden" name="precioTotal" value="1">
            </p>
            <p>
            <input type="hidden" name="vendedor" value="Ejemplo"> 
            </p>

            <input type="submit" value="Guardar">
        </form>

    </body>
</html>