<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:include="~{Plantillas/plantillaHeader.html :: header}">
    </head>
    <body>
        <div>
            <button><a href="/pedidos">Atras</a></button>
        </div>
        <div th:include="Plantillas/plantillaHeader.html:: cuerp"></div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estado del envío</th>
                    <th>Fecha del envío</th>
                    <th>Hora del envío</th>
                    <th>Dirección del envio</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="envios : ${envios}"> 
                    <td th:text="${envios.ID}"></td>
                    <td th:text="${envios.estado}"></td>
                    <td th:text="${#dates.format(envios.fecha, 'dd/MM/yyyy')}"></td>
                    <td th:text="${envios.hora}"></td>
                    <td th:text="${envios.direccionenvio}"></td> 
                    <td><a th:href="@{/pedidos/editarenvio/}+${envios.ID}">Editar</a></td>
                </tr>
            </tbody>
        </table>
        <div >
            <input type="text" name="search" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </div>
    </body>
    
</html>
