<html>
    <head>
        <meta charset="UTF-8">
        <title>Modificar Devolución</title>
    </head>
    <body>
        <div>
            <button><a th:href="@{/pedidos}">Atras</a></button>
        </div>
        <div>
            <button><a>Inventario</a></button>
            <button><a>Compras</a></button>
            <button><a th:href="@{/pedidos}">Pedidos</a></button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Modificar Devolución</h2>
        <form th:action="@{/modificardevolucion}"  method="post" th:object="${devolucion}">
            <label for="producto">Producto:</label>
            <select id="selector" name="selector">
                <option th:each="productos : ${productos}" th:value="${productos.ID}" th:text="${productos.nombre}"></option>
            </select>

            <label for="cantidad">Cantidad</label>
            <input type="number" id="cantidad" name="cantidad"  th:field="*{cantidad}" required><br>
            <fieldset>
                <legend>Estado:</legend>
                <label>
                    <input type="radio" id="completado" name="radio" value="Completado" th:field="*{estado}"> Completado
                </label>
                <label>
                    <input type="radio" id="envio" name="radio" value="envio" th:field="*{estado}"> En Envio
                </label>
                <label>
                    <input type="radio" id="cancelado" name="radio" value="cancelado" th:field="*{estado}"> Cancelado
                </label>
            </fieldset>

            <label for="cliente">Cliente:</label>
            <select name="cliente">
                <option th:each="cliente : ${cliente}" th:value="${cliente.DNI}" th:text="${cliente.nombre}"></option>
            </select>
            <input type="hidden" id="quantity" th:field="${quantity}"/>
            <input type="hidden" th:field="*{fecha}"/>
            <input type="hidden" th:field="*{ID}"/>

            <input type="submit" value="Guardar">
        </form>

    </body>
</html>