<html>
    <head>
        <meta charset="UTF-8">
        <title>Modificar Envio</title>
    </head>
    <body>
        <div>
            <button>Atras</button>
        </div>
        <div>
            <button>Inventario</button>
            <button>Compras</button>
            <button>Pedidos</button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Añadir Devolución</h2>
        <form method="post" action="">
            <label for="radio">Estado del envio: </label><br>
            <input type="radio" id="Completado" name="Completado" value="Completado">
            <label for="radio1">Completado</label><br>
            <input type="radio" id="envio" name="envio" value="envio">
            <label for="radio2">En envio</label><br>
            <input type="radio" id="cancelado" name="cancelado" value="cancelado">
            <label for="radio3">Cancelado</label><br><br>

            <label for="fecha">Fecha:</label><br>
            <input type="date" id="fecha" name="fecha"><br><br>

            <label for="texto">Hora:</label><br>
            <input type="time" id="hora" name="hora"><br><br>

            <input type="submit" value="Guardar">
        </form>

    </body>
</html>