<html>
    <head th:include="~{Plantillas/plantillaHeader.html :: header}">
    </head>
    <body>
        <div>
            <button><a href="/pedidos/gestionenvio">Atras</a></button>
        </div>
        <div th:include="Plantillas/plantillaHeader.html:: cuerp"></div>
        <h2>Modificar Envio</h2>
        <form th:action="@{/guardarEnvio}" method="post" th:object="${envio}">
            <fieldset>
                <legend>Estado del envio:</legend>
                <label>
                    <input type="radio" id="completado" name="radio" value="Completado" th:field="*{estado}"> Completado
                </label>
                <label>
                    <input type="radio" id="envio" name="radio" value="En envio" th:field="*{estado}"> En envio
                </label>
                <label>
                    <input type="radio" id="cancelado" name="radio" value="Cancelado" th:field="*{estado}"> Cancelado
                </label>
            </fieldset>
            <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"/>
            <p>
            <label for="fecha">Fecha:</label><br>
            <input type="date" id="fecha" name="fecha" th:field="*{fecha}"><br><br>
            <span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"/>
            </p>
            <p>
            <label for="texto">Hora:</label><br>
            <input type="time" id="hora" name="hora" value="" th:field="*{hora}"><br><br>
            <span th:if="${#fields.hasErrors('hora')}" th:errors="*{hora}"/>
            </p>
            <p>
            <input type="hidden" th:field="*{idpedido}"/>
            <span th:if="${#fields.hasErrors('idpedido')}" th:errors="*{idpedido}"/>
            </p>
            <p>
            <input type="hidden" th:field="*{direccionenvio}"/>
            <span th:if="${#fields.hasErrors('direccionenvio')}" th:errors="*{direccionenvio}"/>
            </p>
            <p>
            <input type="hidden" th:field="*{ID}"/>
            <span th:if="${#fields.hasErrors('ID')}" th:errors="*{ID}"/>
            </p>

            <input type="submit" value="Guardar">
        </form>

    </body>
</html>