<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="~{Plantillas/plantillaHeader.html :: header}">
    </head>
    <body>
        <div th:include="Plantillas/plantillaHeader.html:: cuerp"></div>
        <div>
            <a th:href="@{/inicial}"><button class="arrow_box">Atras</button></a>
        </div>

        <div class="separar-derecha">
            <h3>Devoluciones</h3>
            <div class="vertical-div">
                <a th:href="@{/pedidos/addDevolucion}"><button class="btn button">Añadir Devolución</button></a>
                <a th:href="@{/pedidos/gestiondevolucion}"><button class="btn button">Gestionar Devolución</button></a>
            </div>
        </div>
        <div class="separar-derecha">
            <h3>Pedidos</h3>
            <div class="vertical-div">
                <a th:href="@{/pedidos/addpedido}"><button class="btn button">Añadir Pedido</button></a>
                <a th:href="@{/pedidos/gestionpedidos}"><button class="btn button">Gestionar Pedidos</button></a>
            </div>
        </div>
        <div class="separar-derecha">
            <h3>Envío</h3>
            <div class="vertical-div">
                <a th:href="@{/pedidos/gestionenvio}"><button class="btn button">Gestionar Envios</button></a>
            </div>
        </div>
        

    </body>

</html>
