<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Añadir usuario"</title>
    </head>
    <body>
        <div>
            <button><a href="/inicial">Atras</a></button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <form method="post" action="">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required><br>

            <label for="nombre" >Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>

            <label for="edad">Edad:</label>
            <input type="number" id="edad" name="edad" required><br>

            <label for="email" >Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required><br>

            <label for="direccion">Dirección Postal:</label>
            <input type="text" id="direccion" name="direccion" required><br>

            <label for="selector">Selector:</label>
            <select id="selector" name="selector">
                <option value="opcion1" >Administrador</option>
                <option value="opcion2" >Proveedor</option>
                <option value="opcion3" >Vendedor</option>
            </select>

            <input type="submit" value="Guardar">
        </form>

    </body>
</html>