<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head th:include="~{Plantillas/plantillaHeader.html :: header}">
        <title>Pagina Inicial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="center-top">
            <a th:href="@{/gestionusers}"><button th:if="${rolUsuario == '1'} " class="btn button"><i class="fas fa-user-cog"></i> Gestionar Usuarios</button></a>
            <a th:href="@{/gestionmodulo}"><button th:if="${rolUsuario == '1'}" class="btn button"><i class="fas fa-tools"></i> Gestionar módulos</button></a>
        </div>
        <div class="user">
            <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50' class="imgusuario"/>
            <p>[[${username}]]</p>
        </div>
        <div th:if="${rolUsuario == '1'}" class="contenedor">
            <div th:each="modulos : ${modulos}" class="itemmodulos">
                <a th:href="@{'/' + ${modulos.nombre.toLowerCase()}}"><button class="buttonmodulos">
                        <img th:src="@{'/imatges/' + ${modulos.nombre.toLowerCase()} + '.png'}" width='50' height='50'/>
                        <p th:text="${modulos.nombre}"></p>
                    </button></a>
            </div>
        </div>
        <div th:if="${rolUsuario == '2'}" class="contenedor">
            <div th:each="modulos : ${modulos}" >
                <a th:href="@{'/' + ${modulos.nombre.toLowerCase()}}"><button th:if="${modulos.vendedor}" class="btn buttonmodulos">
                        <img th:src="@{'/imatges/' + ${modulos.nombre.toLowerCase()} + '.png'}" width='50' height='50'/>
                        <p th:text="${modulos.nombre}"></p>
                    </button></a>
            </div>
        </div>
        <div th:if="${rolUsuario == '3'}" class="contenedor">
            <div th:each="modulos : ${modulos}" class="itemmodulos">
                <a th:href="@{'/' + ${modulos.nombre.toLowerCase()}}"><button th:if="${modulos.proveedor}" class="btn buttonmodulos">
                        <img th:src="@{'/imatges/' + ${modulos.nombre.toLowerCase()} + '.png'}" width='50' height='50'/>
                        <p th:text="${modulos.nombre}"></p>
                    </button></a>
            </div>
        </div>
        <div class="cerrarsesion">
            <a th:href="@{/logout}"><button> <i class="fas fa-user-times"></i> Cerrar Sesión</button></a>
        </div>
        
        
    </body>
</html>