<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Recordar Contraseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p>
                <img th:src="@{'/imatges/logo.png'}" width='50' height='50'/>
            </p>
            <p>Recuperar Contraseña</p>
            <form method="post" action="">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required><br>

                <input type="submit" value="Enviar recuperación">
            </form>
        </div>
    </body>
</html>