<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Añadir Prenda</title>
    </head>
    
    <body>
        <div>
            <button><a th:href="@{/encargosProveedor}">Atras</a></button>
        </div>
        <div>
            <button>Inventario</button>
            <button><a th:href="@{/encargos}">Encargos</a></button>
            <button><a th:href="@{/pedidos}">Pedidos</a></button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Añadir Prenda</h2>
        <p>
        <form th:action="@{/guardarPrenda}" method="post" th:object="${prenda}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <p>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
            </p>
            <p>
                <label for="unidades">Unidades:</label>
                <input type="number" name="unidades" th:field="*{unidades}"/>
            </p>
            <p>
                <label for="precio">Precio:</label>
                <input type="number" name="precio" step="0.01" th:field="*{precio}"/>
            </p>
            <p>
                <label for="tipo">Tipo:</label>
                <input type="text" name="tipo" th:field="*{tipo}"/>
            </p>
            <p>
                <label for="estado">Estado:</label>
                <input type="text" name="estado" th:field="*{estado}"/>
            </p>
            <p>
                <label for="talla">Talla:</label>
                <input type="number" name="talla" th:field="*{talla}"/>
            </p>
            <p>
                <label for="color">Color:</label>
                <input type="text" name="color" th:field="*{color}"/>
            </p>
            <p>
                <label for="categoria">Categoria:</label>
                <select name="categoria" th:field="*{categoria}">
                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>

                </select>
            </p>
            <input type="submit" name="enviar" value="Guardar"/>        
        </form>
    </p>
</body>
</html>