<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Borrar Encargo</title>
    </head>
   
    <body>
        <div>
            <button><a th:href="@{/encargos}">Atras</a></button>
        </div>
        <div>
            <button>Inventario</button>
            <button><a th:href="@{/encargos}">Encargos</a></button>
            <button><a th:href="@{/pedidos}">Pedidos</a></button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Borrar Encargos</h2>
    <head>
    <h3>Encargo 1</h3>
    <button id="delete-btn" class="left-align" value="Añadir Encargo">-</button><br>
</head>
<body>
    <table  border="1">
        <thead>
            <tr>
                <th colspan="1">Nombre</th>
                <th colspan="1">Unidades</th>
                <th colspan="1">Precio</th>
                <th colspan="1">Tipo de prenda</th>
                <th colspan="1">Estado de la prenda</th>
                <th colspan="1">Talla</th>
            </tr>
        </thead>
        <tbody>                    
            <tr th:each="encargo : ${encargo}"> 
                <td th:text="${encargo.nombre}"></td>
                <td th:text="${encargo.unidades}"></td>
                <td th:text="${encargo.precio}"></td>
                <td th:text="${encargo.tipo}"></td>
                <td th:text="${encargo.estado}"></td> 
                <td th:text="${encargo.talla}"></td> 
            </tr>
        </tbody>
    </table>
</body>
</body>
</html>