<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Consultar Encargo</title>
    </head>
    <body>
        <div>
            <button><a th:href="@{/encargos}">Atras</a></button>
        </div>
        <div>
            <button>Inventario</button>
            <button><a th:href="@{/encargos}">Encargos</a></button>
            <button><a th:href="@{/pedidos}">Pedidos</a></button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Consultar Encargos</h2>
        <table border="1">
            <thead>
                <tr>
                    <td><label for="unidades">Unidades</label></td>
                    <td><label for="precio">Precio</label></td>
                    <td><label for="tipo">Tipo de prenda</label></td>
                    <td><label for="estado">Estado de la prenda</label></td>
                    <td><label for="talla">Talla</label></td>
                    <td><label for="nombre">Nombre</label></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="encargo : ${encargos}">
                    <td th:text="${encargo.unidades}"></td>
                    <td th:text="${encargo.precio}"></td>
                    <td th:text="${encargo.tipo}"></td>
                    <td th:text="${encargo.estado}"></td>
                    <td th:text="${encargo.talla}"></td>
                    <td th:text="${encargo.prenda.nombre}"></td>
                </tr>
            </tbody>
        </table>
    </body>
  
</html>