<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="~{Plantillas/plantillaHeader.html :: header}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <a th:href="@{/encargos}"><button class="arrow_box">Atras</button></a>
        </div>

        <div th:include="Plantillas/plantillaHeader.html:: cuerp"></div>
        <div class="vertical-div">
            <h2>Gestionar Encargos</h2>
            <table border="1">
                <thead>
                    <tr>
                        <td><label for="unidades">Unidades</label></td>
                        <td><label for="precio">Precio</label></td>
                        <td><label for="tipo">Tipo de prenda</label></td>
                        <td><label for="estado">Estado de la prenda</label></td>
                        <td><label for="talla">Talla</label></td>
                        <td><label for="nombre">Nombre</label></td>
                        <td><label for="editar">Editar</label></td>
                        <td><label for="eliminar">Eliminar</label></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="encargo : ${encargos}">
                        <td th:text="${encargo.unidades}"></td>
                        <td th:text="${encargo.precio}"></td>
                        <td th:text="${encargo.tipo}"></td>
                        <td th:text="${encargo.estado}"></td>
                        <td th:text="${encargo.talla}"></td>
                        <td th:text="${encargo.prenda.nombre}"></td>
                        <td><a th:href="@{/editarEncargo/}+${encargo.id}" th:text="Editar"/></td>
                        <td><a th:href="@{/eliminarEncargo/}+${encargo.id}" th:text="Eliminar"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>    
</html>

