<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Modificar Prenda</title>
    </head>
    <body>
        <div>
            <button><a href="/encargosProveedor">Atras</a></button>
        </div>
        <div>
            <button>Inventario</button>
            <button><a href="/encargos">Encargos</button>
            <button><a href="/pedidos">Pedidos</a></button>
        </div>
        <div style="display:flex; align-items:center; margin-top:20px;">
            <div style="width:50px; height:50px; background-color:#ccc; margin-right:10px;">
                <img th:src="@{'/imatges/PlaceholderPerson.png'}" width='50' height='50'/>
            </div>
            <p>Nombre</p>
        </div>
        <h2>Modificar Prenda</h2>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
        </div>
        <div>
            <label for="unidades">Unidades:</label>
            <input type="text" id="unidades" name="unidades">
        </div>
        <div>
            <label for="precio">Precio:</label>
            <input type="text" id="precio" name="precio">
        </div>
        <div>
            <label for="tipo">Tipo de prenda:</label>
            <input type="text" id="tipo" name="tipo">
        </div>
        <div>
            <label for="estado">Estado de la prenda:</label>
            <input type="text" id="estado" name="estado">
        </div>
        <div>
            <label for="talla">Talla:</label>
            <input type="text" id="talla" name="talla">
        </div>

        <label for="categoriaPrenda">Categorias</label>
        <button><a href="/seleccionarCategoria">Seleccionar</a></button>

        <input type="submit" value="Guardar">
        
</body>
</html>